<div class="table-responsive mx-auto px3">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Stage</th>
            <th scope="col">Signs/Course of Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table" style="background-color: #d3d2b2;">
            <th scope="row">Distress</th>
            <td><li>A participant indicates they are experiencing a high level of stress or emotional distress</li><li>A participant exhibits behaviours suggestive that the discussion/interview is too stressful such as uncontrolled crying, shaking, disengagement with platform, etc.</li></td>
          </tr>
          <tr class="table" style="background-color: #dddba8">
            <th scope="row">Stage 1 Response</th>
                <td><h6>Pause interview</h6>
                    <li>The researcher will offer several options for reducing intensity of the process, including but not limited to:</li>
                      <ul style="list-style-type: circle;">
                        <li>Turning the camera function of Zoom off while the interview continues</li>
                        <li>Taking a time out from the process</li>
                        <li>Moving to a different part of the data collections process that is not directly focused on the participant's story</li>
                      </ul>
                    <li> The researcher will also offer the option to reschedule the remainder of the interview when the participant feels ready</li>
                  </td>
          </tr>
          <tr class="table" style="background-color: #e6e49f">
            <th scope="row">Review</th>
            <td>
              <li>If participant feels able to carry on: continue the interview with any requested adjustments</li>
              <li>If participant does not feel comfortable with continuing, proceed to Stage 2 Response</li>
            </td>
          </tr>
            <tr class="table" style="background-color: #efed96">
            <th scope="row">Stage 2 Response</th>
                  <td><h6>Halt interview</h6><li>If the participant does not feel as though they need to disengage immediately, spend time seeing how the researcher might offer support. Make recommendations for getting support from their emotional support system</li>
                  <li>If the participants needs to step away immediately, the researcher should inform the participant that they will be reaching out to them with resources and allow the call to end as soon as the participant needs.</li>
                  In both cases: proceed to <b>Followup Step</b>
                </td>
          </tr>
          <tr class="table" style="background-color: #f9f68c">
            <th scope="row">Followup</th>
            <td>As a followup to halting the interview, the researcher will send the <b>Emotional Distress Email Script</b> and attach the <b>emotional resources handout</b>, which will also have been provided to the participant over the course of the pre-interview email contact. The researcher should also encourage the participant to approach the research team or other related contacts should they have concerns about the research.</td>
          </tr>
        </tbody>
      </table>
     </div>
