<button type="button" class="btn" style="font-size: 12px; background-color: #0FA3B1;" data-toggle="modal" data-target="#homemodal">
  Research Team Members
</button>

<div class="modal fade" id="homemodal" tabindex="-1" role="dialog" aria-labelledby="abouttheexhibit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="abouttheexhibit">Research Team</h5>
        <button type="button" class="close" style="background-color: #0FA3B1;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Student investigator: Mya Ballin, MLIS/MAS candidate, UBC School of Information</p>
        <p>Principle Investigator (Research Supervisor): Jennifer Douglas, Assistant Professor, UBC School of Information</p>
        <p> Additional Study Team Member (Thesis Committee Member): Rebecka Sheffield, Adjunct Professor, UBC School of Information</p>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #989c94;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
