---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

{% include feature/blockquote.html text="How do we pronounce our skin in English,<br> turn our silences inside out like a fox fur stole.<br>The Korean fox with nine tails is a demon,<br> always a woman, her heart thick with dreams." author="Sun Yung Shin" citation="'Translate this Body into Everything,' granted to a foreign citizen (2020)" %}
<div class="container">
  <div class="row">
    <div class="col-md-8 my-auto">
      <h1> Introduction </h1>
      <p style="text-indent: 25px;">Much of the impetus for this project comes from my own experience with my (lack of originating) records as an adoptee and a desire to explore them further now that I am a student of archival studies. I have certainly thought about and interacted with documentation of my adoption in the past, but now that I have a vocabulary with which to explain my interactions and reactions in a way that aligns them with other phenomena in the archival context, it seems like an exciting opportunity to be able to identify patterns across experiences and to suggest a framework through which archivists might help adoptees relate to and access their records, or even simply a new way for adoptees to understand their own relationships with their records as a community of shared experience.
      </p>

      <p style="text-indent: 25px;">Through this project, I am interested in identifying the ways in which both existing and imagined records appear in or are absent from adoption narratives and examining how their presence/absence may hold space and influence an individual’s construction of their identity and their personal story.</p>

      <p style="text-indent: 25px;">I want to be able to think deeply about my own experiences and the experiences of other transracial adoptees in relation to our records and to consider how these experiences align and differ from existing explorations of the use and meaning of records to other displaced and/or diasporic peoples. While there are several communities who have been studied by archival studies scholars that share similarities with the experiences of transracial adoptees, there has not yet been an exploration of this community directly. I hope to identify areas in which the specific experiences of adoptees might lend to existing discussions and considerations of archival practice. I also hope to make this a validating project for transracial adoptees, offering a new perspective/angle through which collective experiences and emotions can be expressed and identified as being academically valid and, looking forward into the future, practically supported.</p>
    
    </div>
    <div class="col-md-4 my-auto">
      {% include index/description.html %}
    </div>
  </div>
</div>
