---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

{% include feature/blockquote.html text="In order to develop normally, a child needs the enduring, irrational involvement of one or more adults in care of and in joint activity with that child. In short, somebody has to be crazy about that kid. Someone also has to be there, and to be doing something—not alone but together with the child" author="Urie Bronfenbrenner" citation="Making human beings human: bioecological perspectives on human development (2005)" %}
<div class="container">
  <div class="row">
    <div class="col-md-8 my-auto">
    </div>
    <div class="col-md-4 my-auto">
      {% include index/description.html %}
    </div>
  </div>
</div>
