---
layout: page
---
{%- assign items = site.data[site.metadata] -%}

{% include feature/blockquote.html text="When we love children we acknowledge by our every action that they are not property, that they have rights—that we respect and uphold their rights." author="bell hooks" citation="All About Love: New Visions (2001)" %}
<div class="container">
  <div class="row">
    <div class="col-md-8 my-auto">
    </div>
    <div class="col-md-4 my-auto">
      {% include index/description.html %}
    </div>
  </div>
</div>
